$primary: #f2cb04;
$secondary: #494367;
$bs-secondary-color: #494367;
$dark: #494367;

//         * $secondary
//         * $success
//         * $danger
//         * $warning
//         * $info
//         * $light

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './assets/reset.css'
